
  <!-- Binding Site header -->
  <app-Siteheader></app-Siteheader>
    <div class="app-body">
      <!-- TODO: call Side Nav Bar component -->
      <app-LeftsideNav></app-LeftsideNav>
      <!-- TODO: Middle Content Body -->
      <router-outlet></router-outlet>
      <!-- TODO: rightside navigation menu-->
    </div>
    <!-- TODO: Add site footer here -->

    <!-- Bootstrap and necessary plugins-->
    <!-- <script src="../../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/pace-progress/pace.min.js"></script>
    <script src="../node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="../node_modules/@coreui/coreui/dist/js/coreui.min.js"></script> -->
    <!-- Plugins and scripts required by this view-->
    <!-- <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/@coreui/plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
    <script src="js/main.js"></script> -->

<!-- 
<div class="wrapper-container">
    <div class="wrapper">
        <main>         
          <router-outlet></router-outlet>
        </main>
    </div>
</div> -->
      