<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
              <!-- <router-outlet></router-outlet> -->
              <app-formLogin></app-formLogin>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- <header>
  <div>
    <div class="header-container">
      <div class="logo-box">
        <img class="logo-icon" src="../../assets/images/tp_weblogo.png" alt="Tripath ATGO" />
      </div>
      <div class="list-info">
      </div>      
    </div>
  </div>
</header>
<div class="wrapper-container">
  <div class="wrapper">
    <main> -->
      <!-- <h1>{{title}}</h1> -->
      <!--<router-outlet></router-outlet>
    </main>
  </div>
</div> -->
