<h2 mat-dialog-title>{{modalTitle}}</h2>

<div mat-dialog-content>    
      <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
            <i class="icon-user"></i>
            </span>
        </div>
        <input type="text" spellcheck="false" class="form-control" placeholder="User Name" autocomplete="off" 
        autocapitalize="off" autocorrect="off" maxlength="100" [(ngModel)]="userName" name="userName">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                <i class="icon-envolope"></i>
                </span>
            </div>
            <input type="text" spellcheck="false" class="form-control" placeholder="User Email" autocomplete="off" 
            autocapitalize="off" autocorrect="off" maxlength="100" [(ngModel)]="userEmail" name="userEmail">
        </div>    
</div>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Reset Password</button>
</mat-dialog-actions>